/*header*/
.header nav h1{
    float: none;
    text-align: center;

} 

.header nav ul{
    float: none;
}
.header nav ul li{
    /*display: inline;*/
    float: none;
}
.header nav ul li a{
    padding: 10px;
    text-align: center;
}
/*vp*/
.vp{
    padding-top: 50px;
}
.vp-content{
     font-size: 2rem; 
}
/*FEATURES*/

.feature{
    float: none;
    width: 100%;
    margin-bottom: 2rem ;
} 
/*where*/
.where{
    padding: 80px 20px;
    overflow: auto;
    min-height: 100vh;
}
.where-img{
    float:none;
    width:80%;
    border: 0px;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-bottom:3rem;
}
.where-text{
    float: none;
    width:88%;
    display: block;
    margin:auto;
    font-size:15px;
}
/*Formulaire*/
.contact{
    padding: 50px 0;
    min-height: 100vh;
}

